:root {
    --cream:hsl(30, 38%, 92%);
    --dark-cyan:hsl(158, 36%, 37%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue:hsl(228, 12%, 48%);
    
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:var(--dark-grayish-blue);
    font-family:  'Montserrat', sans-serif;;
    font-weight: 500;
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background:var(--cream);
    min-height: 100vh;

}
main {
    width:min(90%, 22rem);
    background:#fff;
    border-radius: .5rem;
}
.image-container {
    width:100%;
}
img {
    display: block;
    max-width: 100%;
    object-fit:cover;
}
.desktop {
    display:none;
}
.mobile {
    border-radius: .5rem .5rem 0 0;;

}
.perfume {
    margin-top: 1rem;
    font-size: .8em;
}
section {
    width:90%;
    margin-inline:auto;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-block: 1rem;
    color:#000;
    font-size: 1.8rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.price-container {
    display:flex;
    align-items:center;
    gap:1rem;
    margin-block: 1rem;
}
.price-container > p{
    width:50%;
}
.price-container > p: nth-child(2) {
    text-decoration: line-through;
    font-size: .8em;
}
.discount {
    color:var(--dark-cyan);
    font-size: 1.8rem;
    font-weight:700;
    font-family: 'Fraunces', serif;
}
button {
    background:var(--dark-cyan);
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
    padding-block: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    border:none;
    
}
button > p {
    color:#fff;
    font-size: 1rem;
    font-weight: 700;

}
button:hover {
    background:var(--very-dark-blue);
}
footer {
    position:absolute;
    bottom:2px;
}
@media screen and (min-width:600px) {
    main {
        width:min(33rem, 70%);
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .image-container {
        width:100%;
    }
    .mobile {
        display:none;
    }
    .desktop {
        display:block;
        border-radius: .5rem 0 0 .5rem;
        min-height:100%;
        
    }
    .perfume {
        margin-top: 2rem;
    }
    section {
        width:80%;
        margin-inline: auto;
        display:flex;
    }
    h1 {
        font-size: 2rem;
    }
    . discount {
        font-size:2rem;
    }
}
